<!DOCTYPE html>
<html>
  <head>
    <title> Web App on Openshift</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
    <h1>ADD USERS</h1>
    <div class="table-wrapper" >
      <form action="/" method="post">
        <div class="table-title">
         <h3>First Name</h3><input type="tel" name="firstname" value="">
        </div>
        <div class="table-title">
          <h3>Last Name</h3><input type="tel" name="lastname" value="">
         </div>
         <div class="table-title">
          <h3>Age</h3><input type="tel" name="age" value="">
         </div>
         <div class="table-title">
          <h3>Email</h3><input type="tel" name="email" value="">
         </div>
         <div class="table-title">
          <h3>Occupation</h3><input type="tel" name="occupation" value="">
         </div>
          <br><input type="submit" class="btn btn-success" value="Add">
          <button id="myButton3" class="float-left submit-button" > All users </button>

      <script type="text/javascript"> 
          document.getElementById("myButton3").onclick = function () {
            location.href = "allusers.ejs";
        };
      </script>
      </form>
    </div>
  </body>
</html>
