<!DOCTYPE html>
<html>
  <head>
    <title>Concession Kiosk - Menu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Concession Kiosk - Menu!</h1>
    <div class="form-wrapper">
      <form action="/" method="post">
        <div class="form-row">
          <img class="hotdog" src="/images/hotdog.jpg" width="100"> <input type="tel" name="hotdog" value="0">
        </div>
        <div class="form-row">
          <img class="hamburger" src="/images/hamburger.jpg" width="100"> <input type="tel" name="hamburger" value="0">
        </div>
        <div class="form-row">
          <img class="salad" src="/images/salad.jpg" width="100"> <input type="tel" name="salad" value="0">
        </div>
        <div class="form-row">
          <img class="pizza" src="/images/pizza.jpg" width="100" > <input type="tel" name="pizza" value="0">
        </div>
        <div class="form-row">
          <img class="soda" src="/images/soda.jpg" width="100"> <input type="tel" name="soda" value="0">
        </div>
          <input class="submit" type="submit" value="Place Order">
      </form>
    </div>
  </body>
</html>
