<!DOCTYPE html>
<html>
  <head>
    <title>Concession Kiosk - Thank You</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Concession Kiosk - Thank You</h1>
    <div>
      Your ticket number is <% console.log(ticketNumber); if (ticketNumber) { %>
        <%= ticketNumber %> 
        
      <% } %>
    </div>

  </body>
</html>
