<!DOCTYPE html>
<html>
  <head>
    <title>ALL USERS LIST!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> All Users</h1>
    <div>
    <% for each (user in Users){
      user.firstname
    }%>  
    </div>

  </body>
</html>